@import url('https://fonts.googleapis.com/css2? family = Poppins: wght @ 200 & display = swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #1E1E2A;
    background-color:  rgba(248, 180, 190, 0.973);
}

/*HEADER*/

#conteudo1 {
    display: flex;
    text-align: center;
    margin-top: 150px;
    margin-left: 100px;
}

#conteudo2 {
    text-align: center;
}

#conteudo2 h1 > span {
    color:  rgba(248, 124, 145, 0.973);
}

#foto {
    margin-top: 20px;
    margin-left: 100px;
}

.foto {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 8px solid rgba(248, 180, 190, 0.973);
    display: flex;
}

.header-container {
    height: 100vh;
    width: 100vw;
    background-color: rgba(245, 169, 181, 0.973);
    float: left;
    text-align:left;
}

h1 {
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
}

.social-media {
    margin-top: 1rem;
    display: flex;
}

.social-media a {
    text-decoration: none;
    color: #1E1E2A;
    padding: 1rem 4rem;
    border: 1px solid #1E1E2A ;
    min-width: 4rem;
    display: flex;
    align-items:center;
    justify-content: center;
    transition: .5s ease-in-out;
    text-align: center;
}  

a:hover {
    background-color: rgba(248, 180, 190, 0.973);
}

.container {
    height: auto;
    width: 100%;
    display: flex;
   /* flex-direction: column; */
    justify-content: space-evenly;
    margin: 3rem 0rem;
   
}

.card-container {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width: 90%;
}

.card-text {
    width: 40%;
    letter-spacing: 1px;
    color: rgb(109, 109, 109);
    padding: 8px;
    font-family: 'Courier New', Courier, monospace;;
}

.card-text h3  {
    margin-left: 20px;
}

.card-text p {
    margin-left: 20px;
}

/*Footer*/

.footer {
    width: 100vw;
    height: 100px;
    background-color: rgba(245, 169, 181, 0.973);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1E1E2A;
}

